<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    
    
<div class="wrapper">
  <h1>Sharing Priority Assessment Platform</h1>
  
  <nav>
  	<h3>Please Register only One time.If already register go to Review or Share page and look for your name</h3>
  </nav>
  <section>  
  	
<form id="myform" type="post">
  <fieldset>
    <legend>Register Form  </legend>
    <p>We would love to hear from you. Please fill out this form</p>
    <div class="elements">
      <label for="name">Full Name :</label>
      <input  required="required" type="text"   name="fname"  size="20"  />
    </div>
	 <div class="elements">
      <label for="Email">Email :</label>
      <input required="required" type="text"  id="email" name="age" size="20" />
    </div>	
    <div class="elements">
      <label for="pro"> Type of Agent :</label>
	  <select name="pro">
   <option value="RAgent">Enterprise Agent</option>
   <option value="SL" selected="selected">Shift Lead</option>
   <option value="TL" selected="selected">Team Leader</option>
   <option value="DL" selected="selected">Domain Lead</option>
   <option value="SDM" selected="selected">Service delivery Manager</option>
   </select>
    </div>  	
	<div class="elements">
	<label for="Gender">Gender: </label>
      <input type="radio" name="gender" value="Male" checked="checked" id="r1"> Male 
  <input type="radio" name="gender" value="Female" id="r2"> Female 
</div>	
    
   
    <div class="submit">
       <input type="submit" id="btn" name="btn" class="btn" value="Submit" />
    </div>
	
  </fieldset>
</form>
</section>
</div>
<div>
  <footer>
  
  <small>&copy; Copyright 2020, Share Services Canada</small>
</footer>
  </div>