<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>title</title>
<link rel="stylesheet" href="/stylesheets/{{style}}">
</head>

<div class="topnav">
  <a class="active" href="/reg">Home</a>
  <a class="active2"href="/ReviewPr">Review Priority</a>
  <a class="active3"href="/Share">Share</a>
  <a class="active4"href="/About">About</a>
</div>

<body>

{{{body}}}

</body>
</html>

